.checkbox {
  margin: 5px;
}

.checkbox-wrapper {
  margin: 5px;
  border: 1px solid #CCC;
  padding-right: 5px;
}

.redcross {
  margin:  0px 1px 2px 6px;
  border: 1px solid #CCC;
  background-color: #ffffff;
  width: 13px;
  height: 13px;
  opacity: 0.8;
}

.redcross:hover {
  margin:  0px 1px 2px 6px;
  width: 13px;
  height: 13px;
  background-color: #eeeeee;
  opacity: 1;
}

.redcross img {
  width: 100%;
  height: auto;
}
